<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{title}} - OurBlox</title>

    <link rel="stylesheet" href="/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/img/logo.png" width="30" height="30" alt="OurBlox Logo">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/games">
          Games
        </a>
        <a class="navbar-item" href="/users">
          Users
        </a>
        <a class="navbar-item" href="/catalog">
          Catalog
        </a>
        <a class="navbar-item" href="/character">
          Character
        </a>
        {{#if req.session.admin}}
        <a class="navbar-item" href="/Admin">
          Admin
        </a>
        {{/if}}
      </div>

      <div class="navbar-end">
        {{#if req.session.id}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{req.session.username}}
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/games/my">
              My Games
            </a>
            <a class="navbar-item" href="/forum/my">
              My Forum Posts
            </a>
            <a class="navbar-item" href="/logout">
              Logout
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/modmail">
              Report an issue
            </a>
          </div>
        </div>
        {{else}}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" href="/login">
              Login
            </a>
            <a class="button is-light" href="/register">
              Register
            </a>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  </nav>
  <!-- Content Begin -->
  <div class="container">
    <br>
    {{{body}}}
  </div>
  <!-- Content End -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  </body>
</html>