<div class="has-text-centered">
    {{#if req.session.id}}
    <h1 class="title">Welcome back.</h1>
    {{else}}
    <h1 class="title">Welcome.</h1>
    <p>Would you like to <a href="/login">login</a>?</p>
    {{/if}}
    <br>
    <div class="columns">
        <div class="column"><div class="box">0% China</div></div>
        <div class="column"><div class="box">0% Coke</div></div>
        <div class="column"><div class="box">0% Gay</div></div>
    </div>
</div>