<div class="center">
<h1>OurBlox Control Panel</h1>

<h1>General</h1>
<button>View Chat Logs</button>
<button onclick="startServer()">Start Server</button>

<h1>SOAP</h1>
<button>Create Job</button>
<button>Close All Jobs</button>
<button>Execute Commands</button>
</div>