<h1>Games</h1>
<a href="/games/new">Create new game.</a>
{{#each results}}
<br>
<h5>{{this.name}}</h1>
<p>1/10 Players</p>
<a href="/games/view?id={{this.id}}">View</a> {{#if (eq this.creator ../req.user.id)}}<a href="/games/edit?id={{this.id}}">Edit</a>{{/if}}
{{/each}}